@use "../../styles/mixins" as *; 
@use "../../styles/variables" as *; 

.carousel_buttons{
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform .3s ease;
}

.carousel_buttons:active{
    transform: scale(.9);
}

.next_button{
    position: absolute;
    right: 23.36px;

    @include mobile {
        right: 5.84px;
    }
}

.prev_button{
    position: absolute;
    left: 23.36px;

     @include mobile {
        left: 5.84px;
    }
}

.carousel_buttons img{
     @include mobile {
        width: 11.67px;
        height: 19.8px;
    }
}

.carousel_counter{
    position: absolute;
    bottom: 24.92px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 500;
    line-height: 143%;
    color: $text-color--light;

    @include mobile {
        display: none;
    }
}