@use "../../styles/variables" as *;
@use '../../styles/mixins' as *;

.housing_carousel{
    height: 415px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.housing_image {
    @include cover-image
}

.housing_summary{
    display: flex;
    justify-content: space-between;
}

.housing_title{
    font-size: 36px;
    font-weight: 500;
    color: $primary-color;
    line-height: 143%;
}

.housing_location{
    line-height: 143%;
}

.housing_host{
    display: flex;
    align-items: center;
    gap: 10px;
    position :relative;
}

.housing_host_name{
    font-size: 18px;
    font-weight: 500;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.housing_host_avatar{
    height: 64px;
    width: 64px;
    border-radius: 100px;
    overflow: hidden;
}

.housing_host_rating{
    position: absolute;
    top: 85px;
    right: 0;
    display: flex;
    gap: 6.5px;
    
}

.housing_host_picture{
    @include cover-image;
}

.housing_tags{
    display: flex;
    gap: 10px;
    margin: 20px 0 24px;
    list-style: none;
}

.housing_tag{
    background-color: $primary-color;
    color: $text-color--light;
    padding: 4px 20px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
}

.housing_collapses{
    display: flex;
    gap: 76px;

    .collapse_wrapper{
        flex: 1;
    }
}

