@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.card {
    border-radius: $border-radius;
    height: 340px;
    overflow: hidden;
    position: relative;
    transition: transform .3s ease ;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(transparent 0%,
                transparent 42%,
                rgba(0, 0, 0, 0.5) 100%);
    }

    &:hover{
        transform: translateY(-6px);
    }

    @include mobile {
        height: 255px;
    }
}

.card_image {
    @include cover-image;
}

.card_title {
    font-size: 18px;
    font-weight: 700;
    color: $text-color--light;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1;
}