@use "../../styles/variables" as *;

.collapse{
    background-color: $primary-color;
    border-radius: 5px;
    padding: 10px 20px 10px 15px; 
    display: flex;   
    justify-content: space-between;
    color: $text-color--light;
}