@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.collapse_button{
    background-color: $primary-color;
    border: none;
    border-radius: $border-radius--xs;
    padding: 10px 24px 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-color--light;
    width: 100%;
    font: inherit;
    text-align: left;
    cursor: pointer;
}

.collapse_title{
    @include mobile{
        font-size: 13px;
    }
}