@use '../../styles/variables' as *;

.collapse_panel{
    background-color: rgba($secondary-bg, 0.45);
    padding: 20px 50px;
    border-bottom-left-radius: $border-radius--xs;
    border-bottom-right-radius: $border-radius--xs;
}