@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

footer {
    background-color: $dark;
    width: 100%;
    height: 209px;

}

.footer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 66px;

    @include mobile {
        gap: 20px;
    }
}

.footer_logo {
    width: 122px;
    height: 39.44px;
}

.footer_copyright {
    color: $text-color--light;
    font-size: 24px;
    font-weight: 500;

    @include mobile {
        font-size: 12px;
    }
}

.footer_break {
    display: none;

    @include mobile {
        display: inline;
    }
}