@use './styles/variables' as *;
@use './styles/mixins' as *;

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
    gap: 50px;
    background-color: $background-color;
    font-family:  'Montserrat', sans-serif;
    color: $text-color;
    
}

a{
    text-decoration: none;
    color: $text-color;
}

main{
    flex: 1;
    padding: 45px 100px;
    display: flex;
    flex-direction: column;
    gap: 43px;

    @include mobile{
        padding: 20px;
        gap: 22px;
    }
}