@use "../../styles/variables" as *;

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 94px 0 ;
    gap: 139px;
    flex: 1;
}

.error_code{
    font-size: 288px;
    color: $primary-color;
    line-height: 1;
}

.error_message{
    color: $primary-color;
    font-size: 36px;
}

.error_link{
    text-decoration: underline;
}